<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap" rel="stylesheet">  <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Monda:wght@700&family=Squada+One&display=swap" rel="stylesheet"> 
   
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    
    <style>
      h1{
        color: #d4d5d6;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
      }
        table {
          width:100%;
        }
        table, th, td {
          border: 1px solid #0f5f5ad5;
          border-collapse: collapse;
          font-size: medium;
        }
        #s{
            padding:0px;
            border: 1px solid #0f5f5ad5;
        }
        th, td {
          padding: 15px;
          text-align: left;
        }
        #t01 tr:nth-child(even) {
          background-color: #eee;
        }
        #t01 tr:nth-child(odd) {
         background-color: #fff;
        }
        #t01 th {
          background-color:#0f5f5ad5;
          color: white;
        }
        .nv{
    margin-left: -70%;
    margin-top: -2%;
    height: 100px;
   }
        </style>
    <script language="JavaScript">
      function refresh() {
          //window.location.reload();
          alert("applied");
      }
  </script>
    
    <title>Document</title>
</head>
    <body>
      <nav class="navbar navbar-light nv" style="background-color: #36c8bed5;">
        <a class="navbar-brand" href="#">
          <img src="images/vote_icon.jpg" width="52" height="52" class="d-inline-block align-top" alt="">
          <span >	BLOCK BALLOT</span>
        </a>
        </nav>
        <h1 style="text-align:center;color:whitesmoke; width: 100%;  ;border: 0px solid rgb(255, 0, 0);padding: 1px;margin: 5px;  font-family: 'Monda', sans-serif;">List of Elections</h1>
      <%if (typeof(liveElection) !="undefined"){ %> 
        <form action="/applied" method="POST">
          <table id=t01 style="margin-left:5%; width:90%">
              <tr>
                <th >Election Id</th>
                <th >Subject</th>
                <th >description</th>
                <th >startDate</th>
                <th >endDate</th>
                <th >Apply</th>
              </tr>
              <% for(var i = 0; typeof(liveElection) !="undefined"  && liveElection!=null && i < liveElection.length ; i++) {%>
              <tr>
                <td ><%= liveElection[i].id %></td>
                <td><%= liveElection[i].subject %></td>
                <td><%= liveElection[i].description %></td>
                <td><%= liveElection[i].startDate %></td>
                <td><%= liveElection[i].endDate %></td>
                <% if(applicationsStatus[i]=='Apply') { %>
                  
                <td><button name="elecId" type="submit" onclick="refresh()"  value=<%= liveElection[i].id %>>Apply</button></td>
                <% } else {  %> 
                <td><button name="elecId" type="submit" value='<%= liveElection[i].id %>' disabled=true><%= applicationsStatus[i] %></button></td>
                 
                  <% } %>
              </tr>
              <% } %>
            </table>
          </form>
          <% } %>
    
    </body>
</html>